.lijst{
    width: 100%;
}
ul{
    list-style: none;
    width: 100%;
}

li{
    display: table;
    width: 100%;
}

li h5{
    float: left;
}

li p {
    margin-left: 5px;
    float: left;
}

li div {
    margin-left: 5px;
    float: left;
}

li div p {
    float: left;
}

li button{
    position: absolute;
    right: 0;
    width: 5px;
}

.bottom{
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.clock {
    position: fixed;
    bottom: 15%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    width: 100%;
}

.clock p{
    float: left;
    margin-right: 5%;
}

.clock button{
    float: right;
    right: 0;
    
    margin-right: 5%;
}

.footer p {
    float: left;
}
