<ion-header>
  <ion-toolbar>
    <ion-title>itemspicked</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <div class="contained">
        <div class="lijstItem">
            <ul>
                <li *ngFor="let item of menuSvc.order.items">
                  <div>
                    <h5>{{item.name}}</h5>
                    <p>{{item.price}}</p>
            
                    <div class="amount">
                      <p>{{item.amount}}</p>
                    </div>      
                </div>
              </li>
            </ul>
        </div>
      </div>
      
  </div>
  <div class="contained">
      <p>Hallo</p>
      <ion-button expand="block" color="success" (click)="payWithPaypal()">Pay with PayPal</ion-button>
      <ion-button expand="block" color="success" (click)="payWithApplePay()">Pay with ApplePay</ion-button>
      <ion-button expand="block" color="light" (click)="temporaryNotAbleToPay()">TEST</ion-button>
    </div>

</ion-content>
