.contained {
    height: 50vh;
}

.lijstItem {
  left: 5%;
  margin-bottom: 10px;
  padding: 1px;
}

ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

li{
  margin-left: 5%;
  display: table;
  width: 90%;
  border-radius: 25px;
  border: 2px solid black;
}

.amount{
  float: right;
}
