<ion-header>
  <ion-toolbar>
    <ion-title>menu-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="main">
    <h1>{{menuSvc.establishment.name}}</h1>
  
    <div class="lijst">
      <ul>
        <li *ngFor="let item of menuSvc.establishment.menu">
          <div>
              <h5>{{item.name}}</h5>
              <p>{{item.price}}</p>
    
              <div>
                <p>{{item.amount}}</p>
              </div>
              <ion-item>
                <button width="5px" ion-button item-end (click)="AmountUp(item)">+</button>
              </ion-item>
              <ion-item>
                <button ion-button item-end (click)="AmountDown(item)">-</button>
              </ion-item>
              
          </div>
        </li>
      </ul>
    </div>
  
    <div class="bottom">
      <div class="clock">
        <p>{{choosenTime}}</p>
        <ion-button shape="round" color="light" (click)="SetTimeLater()">plus</ion-button>
        <ion-button shape="round" color="light" (click)="SetTimeEarlier()">min</ion-button>
      </div>
      <div class="footer">
        <p>{{menuSvc.totalPriceForOrder | number: '1.2-2'}}</p>
        <ion-button color="success">Betaal</ion-button>
      </div>
    </div>
  </div>
</ion-content>
